* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/laterais.png);
    background-size: 100%;
}
#titulo {
    font-family: sans-serif;
    color: yellow;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.all {
    width: 72%;
    background-color: rgb(12, 12, 39);
    font-family: serif;
    font-size: medium;
    color: yellow;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#img {
    margin-top: 1%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#img_org {
    width: 47%;
    margin-top: 2%;
    margin-left: 2%;
}
p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
#titulo2 {
    font-family: sans-serif;
    color: yellow;
    font-style: italic;
    margin-left: 5%;
    margin-right: auto;
    width: auto;
}
.org {
    margin-top: 5%;
}
#img_org_unica {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 94%;
}
.nav {
    width: 100%;
    height: 30px;
    background-color: rgb(78, 0, 141);
}
.cont {
    width: 72%;
    padding: 0 14%;
    opacity: 100%;
}
#pn {
    color: yellow;
    margin-left: 20%;
    size: 10%;
}