* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
#titulo {
    font-family: sans-serif;
    color: yellow;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    margin-bottom: 5px;
}
.all {
    width: 72%;
    background-color: rgb(116, 0, 224);
    font-family: serif;
    font-size: medium;
    color: yellow;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#img1 {
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}