* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
#titulo {
    font-family: sans-serif;
    color: yellow;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}
.all {
    width: 72%;
    background-color: rgb(12, 12, 39);
    font-family: serif;
    font-size: medium;
    color: yellow;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#img {
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#img_org {
    width: 47%;
    margin-top: 2%;
    margin-left: 2%;
}
p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}
#titulo2 {
    font-family: sans-serif;
    color: yellow;
    font-style: italic;
    margin-left: 5%;
    margin-right: auto;
    width: auto;
}
.org {
    margin-top: 10px;
}
#img_org_unica {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 94%;
}